@{
    ViewBag.Title = "Home Page";
}
<div class="hero-section mt-7 text-center">
    <h1>Mauli Marine Agro & Poultry Feed</h1>
    <p>Welcome to Mauli Marine Agro & Poultry Feed!.</p>
    <p>A/p Insuli, Konwada, Tal-Sawantwadi Dist-Sindhudurg</p>
    <p>416510</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
